/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Global styles */
:root {
  /* --primary-color: #7ED957;
  --main-bg-color: #2A303C;
  --secondary-color: #3e4553; */
  --primary-color: #7ED957;
  --secondary-color: #2c354e;
  --main-bg-color: #292929;
  --secondary-bg-color: #37502d;
}

/* scrollbar width */
::-webkit-scrollbar {
  width: 5px;
}

/* scrollbar Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: #111;
}

/* scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333;
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth !important;
}

body {
  position: relative;
  font-size: 1rem;
  font-family: 'Poppins',
    sans-serif;
  background-color: var(--main-bg-color);
  color: whitesmoke;
  letter-spacing: 1.5px;
}

.container {
  width: 60%;
  margin: auto;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

ul {
  list-style-type: none;
}


/* Navbar */

.navbar {
  background-color: var(--main-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 0.5rem 0;
  -webkit-box-shadow: 4px 4px 15px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 15px 5px rgba(10, 10, 10, 0.2);
}

.navbar .container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar .branding img {
  height: 55px;
  width: auto;
  filter: brightness(1.4);
}

.navbar nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  flex-wrap: wrap;
  flex-flow: wrap;
}

.navbar nav ul li {
  padding: 5px 20px;
}

.navbar nav ul li {
  transition: all 500ms;
}

.navbar nav ul li:hover {
  transform: scale(1.2);
  font-weight: bold;
}

.navbar .smallNavbar {
  background-color: var(--main-bg-color);
  position: relative;
  z-index: 998;
}

.navbar .smallNavbar .toggleNavbar {
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 300ms;
}

.navbar .smallNavbar .toggleNavbar:hover {
  color: var(--primary-color)
}

.navbar .smallNavbar div {
  background-color: var(--main-bg-color);
  position: absolute;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-height: 200px;
  border-radius: 10%;
  width: 200px;
  top: 50px;
  right: 0px;
  font-size: 1rem;
  -webkit-box-shadow: 4px 4px 15px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 15px 5px rgba(10, 10, 10, 0.2);
}

.navbar .smallNavbar div ul {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navbar .smallNavbar div ul li {
  padding: 1rem 0.5rem;
  width: 100%;
  border-radius: 10px;
  transition: all 500ms;
  cursor: pointer;
}

.navbar .smallNavbar div ul li:hover {
  transform: scale(1.05);
  border: 1px solid whitesmoke;
}


/* Banner */
#banner {
  position: relative;
  min-height: 50vh;
  margin-top: 10rem;
}

#banner .container {
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#banner .firstSection {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

#banner .firstSection .text {
  display: flex;
  flex-direction: column;
  height: auto;
}

#banner .firstSection .text p {
  width: 100%;
  font-size: 2rem;
  color: rgb(180, 180, 180);
  font-weight: bolder;
}

#banner .firstSection .text p:first-child {
  animation: pulse 10s infinite;
}

#banner .firstSection .text p:nth-child(3) {
  animation: pulse 10s infinite;
  animation-delay: 3s;
}

#banner .firstSection .words {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-size: 6rem;
  font-weight: bolder;
}

#banner .firstSection .words .word {
  display: flex;
  flex-direction: row;
  gap: 0.3rem
}

#banner .firstSection .words .word span {
  cursor: pointer;
  transition: all 500ms;
}

#banner .firstSection .words .word span:hover {
  text-shadow: -10px 7px 2px rgba(177, 177, 177, 0.6);
  transform: translateX(10px) translateY(-10px);
}

#banner .firstSection .contact {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

#banner .firstSection .contact p {
  font-size: 1.2rem;
  color: rgb(180, 180, 180);
  font-weight: bolder;
  border: 1px solid whitesmoke;
  cursor: pointer;
  padding: 1rem;
  border-radius: 100px;
  transition: all 500ms;
}

#banner .firstSection .contact p:hover {
  background-color: var(--secondary-bg-color);
}

#banner .firstSection .contact div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

#banner .firstSection .contact div a {
  font-size: 2rem;
  transition: all 500ms;
}

#banner .firstSection .contact div a:hover {
  transform: scale(1.15);
  color: var(--primary-color);
}


/* Services */
#services-section {
  padding: 5rem 0;
}

.services {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.services .service {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.services .service:nth-child(1) {
  animation: pulse 13s infinite;
  animation-delay: 2s;
}

.services .service:nth-child(2) {
  animation: pulse 13s infinite;
  animation-delay: 5s;
}

.services .service:nth-child(3) {
  animation: pulse 13s infinite;
  animation-delay: 8s;
}

.services .service img {
  width: 75%;
}

.services .service p {
  text-align: center;
  font-weight: bold;
}


/* About */
#about-section {
  padding: 5rem 0;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

#about-section .about h1 {
  font-size: 3.5rem;
  text-align: center;
}

#about-section .about h1 span {
  opacity: 0;
}

#about-section .about h1 span:nth-child(1) {
  animation: fade_loop 3s infinite;
}

#about-section .about h1 span:nth-child(2) {
  animation: fade_loop 3s infinite;
  animation-delay: 1s;
}

#about-section .about h1 span:nth-child(3) {
  animation: fade_loop 3s infinite;
  animation-delay: 2s;
}

#about-section .about-text {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  align-items: flex-start;
}

#about-section .about-text p:nth-child(1) {
  width: 300%;
  animation: pulse 10s infinite;
}

#about-section .about-text p:nth-child(2) {
  width: 300%;
  animation: pulse 10s infinite;
  animation-delay: 4s;
}

#about-section .about-text p:nth-child(2) a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

#about-section .about-text p:nth-child(2) a span {
  font-weight: bolder;
  font-size: 1.1rem;
}

#about-section .about-text p:nth-child(2) a img {
  width: 20rem;
  border-radius: 5px;
  border: 1px solid black;
}

#about-section .hobbies {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding: 5rem 0;
}

#about-section .hobbies h2 {
  font-size: 2.5rem;
  text-align: center;
}

#about-section .hobbies .hobby {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#about-section .hobbies .hobby p {
  width: 70%;
}

#about-section .hobbies div:nth-child(2) {
  animation: pulse 10s infinite;
}

#about-section .hobbies div:nth-child(3) {
  animation: pulse 10s infinite;
  animation-delay: 5s;
}

#about-section .hobbies .hobby:nth-child(2) img {
  width: 15rem;
  height: auto;
  animation: rotate 10s infinite;
}

#about-section .hobbies .hobby:nth-child(3) img {
  width: 15rem;
  height: auto;
  animation: rotate 10s infinite;
  animation-delay: 5s;
}


/* Skills */
#skills-section {
  padding: 5rem 0;
}

#skills-section .skills {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

#skills-section .skills h1 {
  font-size: 2.5rem;
  text-align: center;
}

#skills-section .skills-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.skill {
  transition: all 500ms;
}

.skill:nth-child(2n + 3) {
  animation: pulse 10s infinite;
}

.skill:nth-child(2n + 2) {
  animation: pulse 10s infinite;
  animation-delay: 4s;
}

.skill a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.skill img {
  width: 5rem;
}

.skill span {
  font-size: 0.8rem;
  font-weight: bold;
}


/* Contact */
#contact-section {
  padding: 6rem 0;
}

#contact-section .contact {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

#contact-section .contact p {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#contact-section .contact p span:nth-child(1) {
  animation: pulse 10s infinite;
  animation-delay: 5s;
}

#contact-section .contact p span:nth-child(2) {
  font-size: 2rem;
  font-weight: bolder;
  animation: pulse 10s infinite;
}

#contact-section form {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 4px 4px 15px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 15px 5px rgba(10, 10, 10, 0.2);
}

#contact-section form .form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-group input {
  width: 80%;
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: rgb(126, 126, 126);
  transition: all 500ms;
}

.form-group input:focus {
  background-color: whitesmoke;
  transform: scale(1.05);
}

.form-group textarea {
  width: 80%;
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: rgb(126, 126, 126);
  min-height: 10rem;
  transition: all 500ms;
}

.form-group textarea:focus {
  background-color: whitesmoke;
  transform: scale(1.05);
}

.form-group input[type="submit"] {
  width: 80%;
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: var(--secondary-bg-color);
  color: white;
  cursor: pointer;
  transition: all 500ms;
  -webkit-box-shadow: 4px 4px 15px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 15px 5px rgba(10, 10, 10, 0.2);
}

.form-group input[type="submit"]:hover {
  transform: scale(1.05);
}

/* Mobile design */
@media screen and (max-width: 1080px) {

  .container {
    width: 85%;
  }

  /* Banner */
  #banner {
    margin-top: 15rem;
  }

  #banner .container {
    flex-direction: column;
    gap: 5rem;
  }


  /* About */
  #about-section .about-text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }

  #about-section .about-text p:nth-child(1) {
    width: 80%;
  }

  #about-section .about-text p:nth-child(2) {
    width: 85%;
  }

  #about-section .about-text p:nth-child(2) a {
    max-width: 100%;
  }

  #about-section .about-text p:nth-child(2) a span {
    font-weight: bolder;
    font-size: 1.4rem;
  }

  #about-section .about-text p:nth-child(2) a img {
    width: 30rem;
    border-radius: 5px;
    border: 1px solid black;
  }

  #about-section .hobbies {
    gap: 5rem;
    padding-bottom: 0;
  }

  #about-section .hobbies .hobby {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  #about-section .hobbies .hobby p {
    width: 80%;
  }


  /* Skills */
  #skills-section .skills-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
}

@media screen and (max-width: 550px) {
  #about-section .about-text p:nth-child(2) a img {
    width: 25rem;
    border-radius: 5px;
    border: 1px solid black;
  }
}

/* Keyframes */
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  15% {
    transform: scale(1.10);
  }

  30% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fade_loop {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  30% {
    transform: rotate(360deg);
  }



  100% {
    transform: rotate(360deg);
  }
}